



h3 {
  font-family: 'Arima';
  font-style: normal;
  font-weight: 700;

  font-size: 32px;
  color: #54370D;
}


.mobile-menu {
    display: none;
}






/* HERE STARTS THE HEADER AREA OF PAGE TWO */



.header-class {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #4EA487;
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 1440px;
  padding-left: 120px;
  height: 128px;

  gap: 70px;
}

.header-content img {
  height: 72px;
}

.navi-bar {
  display: flex;
}

.navi-bar ul {
  display: flex;

  list-style-type: none;
  gap: 50px;

  padding: 0px;
}

.navi-bar a {
  text-decoration: none;
  color: #f8f5eb;

  font-family: 'Arima';
  font-style: normal;
  font-weight: 700;

  font-size: 24px;
}





/* Hover Effekte Header */

.highlight {
  position: relative;
  display: inline-block;

  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.navi-bar li {
    position: relative;
}

.image-header {
    position: absolute;
    left: 2.5px;
    bottom: 2px;

    width: 100%;
    height: auto;

    opacity: 0;
}

.navi-bar li:hover .image-header {
    opacity: 1;
}



/* HERE STARTS THE LANDINGSECTION-AREA OF PAGE TWO */




.page-main-area {
  display: flex;
  justify-content: center;
  /* align-items: center; */

  /* background-color: #4EA487; */
  width: 100%;
  flex-direction: column;
}





/* Styling Side 2 */

.article {

  width: 100%;
  max-width: 1440px;
  /* height: 400px; */

  margin: 88px auto 22px;

  padding: 0 120px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Palanquin", serif;
  font-weight: 400;

  /* EXTRA GAP ERGÄNZT */

  gap: 20px;


}

/* Linker Bereich */

.article-content {
  flex: 1;
  max-width: 1270px;
}

.subtitle {
  margin: 0 0 4px;

  color: rgba(78, 164, 135, 1);

  font-size: 40px;
  font-weight: 600;
}

h1 {
  margin: 0;

  color: #f1c953;

  font-family: "Arima", serif;
  font-size: 64px;
  line-height: 1.25;
  font-weight: 700;
}

.description {
  max-width: 100%;

  margin-bottom: 18px;

  color: #63491f;

  font-size: 32px;
  line-height: 1.3;
}

/* Informationen unter dem Text */

.article-info {
  

  display: flex;
  align-items: center;
  gap: 28px;
  flex-direction: row;

  font-size: 11px;
}

.article-info span {
  white-space: nowrap;
  display: flex;
  gap: 3px;
  align-items: center;
}

.article-info p {
  color: rgba(84, 55, 13, 1);
  font-family: "Palanquin", serif;
}

/* Autorenkarte */

.author-card {
  width: 270px;
  height: 400px;

  padding: 10px 12px 14px;

  background-color: rgba(78, 164, 135, 0.2);

  border-radius: 18px;

  text-align: center;
}

.author-image {
  width: 100px;
  height: 100px;

  object-fit: cover;

  border-radius: 50%;

  margin-bottom: 5px;
}

.author-card h2 {
  margin: 0;

  color: rgba(84, 55, 13, 1);

  font-family: "Arima", serif;
  font-size: 18px;
}

.author-role {
  margin: 2px 0 15px;

  color: rgba(84, 55, 13, 1);

  font-size: 18px;
  font-family: "Arima", serif;
  font-weight: 400;
}

.author-text {
  margin: 0;

  color: rgba(84, 55, 13, 1);

  font-size: 16px;
  line-height: 1.25;

  text-align: left;
}





/* HERE STARTS THE BIG TEXT-BLOG OF PAGE TWO */




.page-big-text-blog {
  display: flex;
  /* padding: 22px 120px; */


  
  /* width: 100%; */
  /* max-width: 1440px; */
  /* height: 400px; */

  /* margin: 45px auto; */

  /* padding: 0 120px; */

  /* display: flex; */
  justify-content: center;
  /* align-items: center; */

  /* width: 100%;
  max-width: 1440px; */
  /* height: 400px; */
  /* justify-content: center;
  align-items: center; */
}


.page-big-text-blog p {
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 400;

  font-size: 24px;
  color: #3D3D3D;

  display: flex;
  /* width: 1200px; */

  /* text-align: center; */

  /* width: 100%; */
  max-width: 1440px;
  padding: 22px 120px;
}




/* HERE STARTS THE RAIN-BLOG */


.rain-days-blog {
    padding: 66px 400px;
    display: flex;
    justify-content: center;
}


.rain-days-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    width: 640px;

    gap: 44px;
}

.rain-days-content h3 {
    text-align: center;
}





.rain-days-content img {
  max-width: 100%;

  height: auto;

  border-radius: 52px;


  /* https://smoothshadows.com/#djEsMSw1LDAuMjUsMTEsNCwtMiwjMDMwNzEyLCNmM2Y0ZjYsI2ZmZmZmZiwy */
box-shadow: -0px 0px 0px rgba(3, 7, 18, 0.05),
  -0px 1px 2px rgba(3, 7, 18, 0.10),
  -1px 1px 4px rgba(3, 7, 18, 0.15),
  -1px 3px 7px rgba(3, 7, 18, 0.20),
  -2px 4px 11px rgba(3, 7, 18, 0.25);
}




/* HERE STARTS THE ACTIVITIES-EXPENCES-BLOG */

.activities-expences-blog {
    /* padding: 66px 120px; */
    display: flex;
    justify-content: center;

    padding: 66px 0px;
    width: 100%;
    
}


.activities-expences-content {
    display: flex;
    justify-content: center;
    
    /* width: 1200px; */

    width: 100%;
}


.content-blog {
    display: flex;
    justify-content: space-between;
    
    
    width: 1440px;



    padding: 0px 120px;
}

.content-activities {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    width: 520px;
    
    gap: 20px;

    
}


.content-expences {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    width: 520px;

    gap: 20px;

    
}






.activities-upper {
    display: flex;
    flex-direction: column;
}


.activities-upper h3 {
    text-align: center;
    padding-bottom: 10px;
}



.activities-text p {
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 400;

  font-size: 24px;

  color: #3D3D3D;
}


.activities-picture {
    display: flex;
    justify-content: center;
}


.activities-picture img {
    height: 480px;
    border-radius: 52px;
    width: 520px;


    
    /* https://smoothshadows.com/#djEsMSw1LDAuMjUsMTEsNCwtMiwjMDMwNzEyLCNmM2Y0ZjYsI2ZmZmZmZiwy */
box-shadow: -0px 0px 0px rgba(3, 7, 18, 0.05),
  -0px 1px 2px rgba(3, 7, 18, 0.10),
  -1px 1px 4px rgba(3, 7, 18, 0.15),
  -1px 3px 7px rgba(3, 7, 18, 0.20),
  -2px 4px 11px rgba(3, 7, 18, 0.25);

}




.expenses-upper {
    display: flex;
    flex-direction: column;
}


.expenses-upper h3 {
    text-align: center;
    padding-bottom: 10px;
    
}


.expences-text p {
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 400;

  font-size: 24px;

  color: #3D3D3D;
}



.expences-picture {
    display: flex;
    justify-content: center;
}



.expences-picture img {
    height: 480px;
    border-radius: 52px;
    width: 520px;


    
    /* https://smoothshadows.com/#djEsMSw1LDAuMjUsMTEsNCwtMiwjMDMwNzEyLCNmM2Y0ZjYsI2ZmZmZmZiwy */
box-shadow: -0px 0px 0px rgba(3, 7, 18, 0.05),
  -0px 1px 2px rgba(3, 7, 18, 0.10),
  -1px 1px 4px rgba(3, 7, 18, 0.15),
  -1px 3px 7px rgba(3, 7, 18, 0.20),
  -2px 4px 11px rgba(3, 7, 18, 0.25);

}






/* HERE STARTS THE FOLLOW-AREA-PART */


.page-follow-area {
  display: flex;
  justify-content: center;
  /* background-color: blue; */
}

.page-follow-part {
  display: flex;
  flex-direction: column;
  padding-top: 66px;
}

.follow-under-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  padding-bottom: 88px;
  gap: 80px;
}

.follow-text {
  text-align: center;
  padding: 0px 40px;

  font-family: 'Arima';
  font-style: normal;
  font-weight: 500;

  font-size: 24px;

  color: #54370D;
}

.share-button {
  display: flex;
  gap: 15px;
  border-radius: 40px;
  background-color: #4EA487;
  padding: 5px 30px;
  align-items: center;
}

.share-button p {
  font-family: 'Arima';
  font-style: normal;
  font-weight: 700;

  font-size: 24px;
  color: #F1C953;
}

.share-button img {
  height: 32px;
  width: 32px;
}









/* HERE STARTS THE FOOTER AREA OF PAGE TWO */



.footer-class {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #4EA487;
  width: 100%;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  padding: 0px 120px 0px 120px;
  height: 128px;
}

.additionals {
  display: flex;
  align-items: center;
}

.additionals img {
  width: 20px;
}

.additionals-navi-bar {
  display: flex;
  align-items: center;
}

.additionals-navi-bar ul {
  display: flex;
  align-items: center;

  list-style-type: none;
  gap: 72px;
  padding: 0px;
}

.additionals-navi-bar li {
  display: flex;
  align-items: center;

  gap: 10px;
}

.additionals-navi-bar a {
  text-decoration: none;
  color: #f8f5eb;
}

.words-travel-blog-2026 {
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 400;

  font-size: 18px;
}

.words-cookies-imprint {
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 400;

  font-size: 16px;
}







.social-media {
  display: flex;
  align-items: center;
}

.social-media img {
  height: 32px;
}

.social-media-navi-bar {
  display: flex;
  align-items: center;
}

.social-media-navi-bar ul {
  display: flex;
  align-items: center;

  list-style-type: none;
  gap: 10px;
  padding: 0px;
}

.social-media-navi-bar li {
  display: flex;
  align-items: center;
}










/* HERE STARTS THE AREA OF THE MEDIA-QUARRIES */





@media screen and (min-width: 1066px) and (max-width: 1319px) {


  .subtitle {
    /* font-size: 35px; */
    font-size: 35px;
    
  }

  h1 {
    /* font-size: 54px; */
    font-size: 56px;
  }

  .description {
    /* font-size: 25px; */
    font-size: 28px;
  }


  .author-card {
    /* height: 337.86px; */
    height: 354.52px;
  }

  .author-text {
    /* font-size: 13px; */
    font-size: 13px;
  }
  


  .content-activities {
    width: 420px;
  }

  .activities-picture img {
    max-width: 100%;
    height: 360px;
  }

  .content-expences {
    width: 420px;
  }

  .expences-picture img {
    max-width: 100%;
    height: 360px;
  }




}


@media screen and (min-width: 1165px) and (max-width: 1205px) {

  .header-content {
    padding-left: 100px;
  }

  .footer-content {
    padding: 0px 100px 0px 100px;
  }

  .article{
    padding: 0px 100px;
  }

  .page-big-text-blog p {
    padding: 22px 100px;
  }

  .rain-days-blog{
    padding: 66px 380px;
  }

  .content-blog {
    padding: 0px 100px;
  }

  
}


@media screen and (min-width: 1125px) and (max-width: 1164px) {

  .header-content {
    padding-left: 80px;
  }

  .footer-content {
    padding: 0px 80px 0px 80px;
  }

  .article {
    padding: 0px 80px;
  }

  .page-big-text-blog p {
    padding: 22px 80px;
  }

  .rain-days-blog {
    padding: 66px 360px;
  }

  .content-blog {
    padding: 0px 80px;
  }
  
}

@media screen and (min-width: 994px) and (max-width: 1124px) {

  .header-content {
    padding-left: 50px;
  }

  .footer-content {
    padding: 0px 50px 0px 50px;
  }

  .article {
    padding: 0px 50px 22px 50px;
  }

  .page-big-text-blog p {
    padding: 22px 50px;
  }

  .rain-days-blog {
    padding: 66px 330px;
  }

  .content-blog {
    padding: 0px 50px;
  }
  
}

@media screen and (min-width: 1042px) and (max-width: 1065.99px) {

  .subtitle {
    font-size: 35px;
    /* font-size: 35px; */
    
  }

  h1 {
    font-size: 54px;
    /* font-size: 56px; */
  }

  .description {
    font-size: 25px;
    /* font-size: 28px; */
  }


  .author-card {
    height: 337.86px;
    /* height: 354.52px; */
  }

  .author-text {
    font-size: 13px;
    /* font-size: 13px; */
  }



  .page-big-text-blog p {
    font-size: 19px;

  }


  .activities-text p {
    font-size: 19px;
  }

  .expences-text p {
    font-size: 19px;
  }





  h3 {
    font-size: 25px;
  }




  .follow-text {
    font-size: 21px;
  }




  .follow-under-box {
    gap: 53px;
  }





  .content-activities {
    width: 420px;
  }

  .activities-picture img {
    max-width: 100%;
    height: 360px;
  }

  .content-expences {
    width: 420px;
  }

  .expences-picture img {
    max-width: 100%;
    height: 360px;
  }
  
  
}


@media screen and (min-width: 964px) and (max-width: 1041.99px) {

  .subtitle {
    font-size: 35px;
    /* font-size: 35px; */
    
  }

  h1 {
    font-size: 50px;
    
  }

  .description {
    font-size: 25px;
    /* font-size: 28px; */
  }


  .author-card {
    height: 337.86px;
    /* height: 354.52px; */
  }

  .author-text {
    font-size: 13px;
    /* font-size: 13px; */
  }



  .page-big-text-blog p {
    font-size: 19px;

  }


  .activities-text p {
    font-size: 19px;
  }

  .expences-text p {
    font-size: 19px;
  }





  h3 {
    font-size: 25px;
  }




  .follow-text {
    font-size: 21px;
  }




  .follow-under-box {
    gap: 53px;
  }





  .content-activities {
    width: 420px;
  }

  .activities-picture img {
    max-width: 100%;
    height: 360px;
  }

  .content-expences {
    width: 420px;
  }

  .expences-picture img {
    max-width: 100%;
    height: 360px;
  }
  
}



@media screen and (min-width: 942px) and (max-width: 993.99px) {

  .header-content {
    padding-left: 35px;
  }

  .footer-content {
    padding: 0px 35px 0px 35px;
  }

  .article {
    padding: 22px 35px;

    margin: 44px auto 11px;
  }

  .page-big-text-blog p {
    padding: 11px 35px;
  }

  .rain-days-blog {
    padding: 33px 315px;
  }

  .content-blog {
    padding: 0px 35px;
  }

}





@media screen and (min-width: 893px) and (max-width: 963.99px) {

  .subtitle {
    font-size: 30px;
    /* font-size: 35px; */
    
  }

  h1 {
    font-size: 46px;
    
  }

  .description {
    font-size: 21px;
    /* font-size: 28px; */
  }


  .author-card {
    height: 292.88px;
    /* height: 354.52px; */
  }

  .author-text {
    font-size: 11px;
    /* font-size: 13px; */
  }



  .page-big-text-blog p {
    font-size: 17px;

  }


  .activities-text p {
    font-size: 17px;
  }

  .expences-text p {
    font-size: 17px;
  }



  .content-activities {
    gap: 50px;
  }





  h3 {
    font-size: 23px;
  }




  .follow-text {
    font-size: 21px;
  }




  .follow-under-box {
    gap: 53px;
  }





  .content-activities {
    width: 420px;
  }

  .activities-picture img {
    max-width: 100%;
    height: 330px;
  }

  .content-expences {
    width: 420px;
  }

  .expences-picture img {
    max-width: 100%;
    height: 330px;
  }
  
}


@media screen and (min-width: 800px) and (max-width: 941.99px) {

  .header-content {
    padding-left: 15px;
  }

  .footer-content {
    padding: 0px 15px 0px 15px;
  }

  .article {
    padding: 22px 15px;

    margin: 44px auto 11px;
  }

  .page-big-text-blog p {
    padding: 11px 15px;
  }

  .rain-days-blog {
    padding: 33px 260px;
  }

  .content-blog {
    padding: 0px 15px;
  }
  
}



@media screen and (min-width: 804px) and (max-width: 892px) {

  .additionals-navi-bar ul {
    gap: 36px;
  }

  .subtitle {
    font-size: 20px;
    /* font-size: 35px; */
    
  }

  h1 {
    font-size: 40px;
    
  }

  .description {
    font-size: 18px;
    /* font-size: 28px; */
  }


  .author-card {
    height: 248.85px;
    /* height: 354.52px; */
  }



  .author-image {
  width: 70px;
  height: 70px;

  object-fit: cover;

  border-radius: 50%;

  margin-bottom: 5px;
}

.author-card h2 {
  margin: 0;

  color: rgba(84, 55, 13, 1);

  font-family: "Arima", serif;
  font-size: 16px;
}

.author-role {
  margin: 2px 0 15px;

  color: rgba(84, 55, 13, 1);

  font-size: 16px;
  font-family: "Arima", serif;
  font-weight: 400;
}



  .author-text {
    font-size: 11px;
    /* font-size: 13px; */
  }



  .page-big-text-blog p {
    font-size: 16px;

  }


  .activities-text p {
    font-size: 16px;
  }

  .expences-text p {
    font-size: 16px;
  }



  .content-activities {
    gap: 50px;
  }





  h3 {
    font-size: 20px;
  }




  .follow-text {
    font-size: 18px;
  }




  .follow-under-box {
    gap: 53px;
  }





  .content-activities {
    width: 380px;
  }

  .activities-picture img {
    max-width: 100%;
    height: 330px;
  }

  .content-expences {
    width: 380px;
  }

  .expences-picture img {
    max-width: 100%;
    height: 330px;
  }
  
}


/* ACHTUNG NOCH DEN ÜBERGANG NACH UNTEN BERÜCKSICHTIGEN */

@media screen and (min-width: 769px) and (max-width: 803.99px) {

  .additionals-navi-bar ul {
    gap: 20px;
  }

  .subtitle {
    font-size: 20px;
    
    
  }

  h1 {
    font-size: 35px;
    
  }

  .description {
    font-size: 16.5px;
    
  }


/* ACHTUNG EXTRA EINGEFÜGT ACHTUNG */

/* .card-section {
  padding: 0px 120px;
} */

/* ACHTUNG EXTRA EINGEFÜGT ACHTUNG */

  .author-card {
    height: 248.85px;
    
  }



  .author-image {
  width: 70px;
  height: 70px;

  object-fit: cover;

  border-radius: 50%;

  margin-bottom: 5px;
}

.author-card h2 {
  margin: 0;

  color: rgba(84, 55, 13, 1);

  font-family: "Arima", serif;
  font-size: 16px;
}

.author-role {
  margin: 2px 0 15px;

  color: rgba(84, 55, 13, 1);

  font-size: 16px;
  font-family: "Arima", serif;
  font-weight: 400;
}



  .author-text {
    font-size: 11px;
    
  }



  .page-big-text-blog p {
    font-size: 16px;

  }


  .activities-text p {
    font-size: 16px;
  }

  .expences-text p {
    font-size: 16px;
  }



  .content-activities {
    gap: 50px;
  }





  h3 {
    font-size: 20px;
  }




  .follow-text {
    font-size: 18px;
  }




  .follow-under-box {
    gap: 19px;
  }





  .content-activities {
    width: 350px;
  }

  .activities-picture img {
    max-width: 100%;
    height: 280px;
  }

  .content-expences {
    width: 350px;
  }

  .expences-picture img {
    max-width: 100%;
    height: 280px;
  }
  
}


@media screen and (min-width: 769px) and (max-width: 799.99px) {

  .header-content {
    padding-left: 15px;
  }

  .footer-content {
    padding: 0px 15px 0px 15px;
  }

  .article {
    padding: 22px 15px;

    margin: 44px auto 11px;

    margin-bottom: 80px;
  }

  .page-big-text-blog p {
    padding: 11px 15px;
  }

  .rain-days-blog {
    padding: 33px 220px;
  }

  .content-blog {
    padding: 0px 15px;
  }
  
}


@media screen and (min-width: 1px) and (max-width: 768px) {

  .header-content {
    padding-left: 0px;
  }


  .navi-bar {
    display: none;
  }

  .header-content {
    justify-content: center;
  }

  /* .header-content {
    padding-left: 15px;
  } */


  .page-follow-part {
    padding-top: 8px;
  }


  .footer-content {
    padding: 0px 15px 0px 15px;
  }

  .words-travel-blog-2026 {
    font-size: 16px;
  }


  .additionals-navi-bar ul {
    gap: 0px;

    align-items: start;

    /* text-align: left; */
  }





  .additionals-navi-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }



  .additionals-navi-bar-class-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    padding: unset;
    padding-left: 10px;






    /* display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0px; */
  }




  

  .copyright {
    order: 3;
  }

  .imprint {
    order: 1;
  }

  .cookie {
    order: 2;
  }


  

  .social-media img {
    height: 22px;
  }








/* AREA */


/* .social-media {
  display: flex;
  align-items: flex-end;
} */



/* .social-media-navi-bar {
  display: flex;
  align-items: flex-end;
} */

.social-media-navi-bar ul {
  display: flex;
  align-items: flex-end;
  padding-top: 60px;

  
}

/* .social-media-navi-bar li {
  display: flex;
  align-items: flex-end;
} */






/* AREA */



  



  .article {
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding: 0px;

    
  }


  



  .author-card {
  max-width: 528px;
  width: 100%;
  height: auto;
  
  
}




.article-info {
  flex-wrap: wrap;
}




.rain-days-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    width: 100%;

    gap: 44px;
}



  

  .content-blog {
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 32px;
  }




/* AB HIER WURDE HEUTE ABGEÄNDERT */

  /* .page-follow-part {
    gap: 40px;
  } */



  /* .vector-area-class {
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 100px;

    justify-content: flex-start;
    align-items: flex-start;

    background-color: red;
  }


  .share-button-area-class {
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 100px;

    justify-content: center;
    align-items: flex-end;

    background-color: blue;

    padding-top: 80px;
  }








  .follow-under-box {
    display: flex;

    padding-left: 20px;

    gap: 60px;

    height: fit-content;
    
    
    
    
  } */

/* BIS HIER WURDE HEUTE GEÄNDERT */




  /* .vetor-class {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  } */



  /* .share-button-class {
    display: flex;
    justify-content: center;
    align-items: flex-end;

  } */





  
}


/* HERE IS THE FOLLOW AREA */

@media screen and (min-width: 481px) and (max-width: 768px) {

  .vector-area-class {
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 100px;

    justify-content: flex-start;
    align-items: flex-start;

    /* background-color: red; */
  }


  .share-button-area-class {
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 100px;

    justify-content: center;
    align-items: flex-end;

    /* background-color: blue; */

    padding-top: 80px;
  }








  .follow-under-box {
    display: flex;

    padding-left: 20px;

    gap: 40px;

    height: fit-content;
    
    
    
    
  }
  
}


@media screen and (min-width: 299px) and (max-width: 480.99px) {

  .vector-area-class {
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 80px;

    justify-content: flex-start;
    align-items: flex-start;

    /* background-color: red; */
  }


  .share-button-area-class {
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 100px;

    justify-content: center;
    align-items: flex-end;

    /* background-color: blue; */

    padding-top: 30px;
  }


  .share-button img {
    height: 20px;
    width: 20px;
  }




  .vetor-class img {
    height: 42px;
  }








  .follow-under-box {
    display: flex;

    padding-left: 40px;

    gap: 0px;

    height: fit-content;
    
    
    
    
  }
  
}

/* HERE ENDS THE FOLLOW AREA */







@media screen and (max-width: 768px) {

  .mobile-menu {
        position: fixed;

        left: 50%;
        /* bottom: 15px; */
        bottom: 1px;

        transform: translateX(-50%);

        /* width: calc(100% - 50px); */

        width: 100%;
        max-width: 768px;

        height: 58px;

        background-color: #f1c953;

        border-radius: 0 0 15px 15px;

        display: flex;

        align-items: center;
        justify-content: space-around;

        z-index: 9999;

        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }


    .mobile-menu-item {
        width: 25%;

        height: 100%;

        display: flex;

        align-items: center;
        justify-content: center;

        text-decoration: none;
    }


    .mobile-menu-item img {
        width: 25px;
        height: 25px;

        object-fit: contain;
    }


    .mobile-menu-item:hover {
        transform: translateY(-3px);
    }


    .mobile-menu-item {
        transition: transform 0.2s ease;
    }








    .place-for-mobile {
      display: flex;
      width: 100%;
    }

    .place-for-mobile-menu {
      display: flex;
      height: 58px;
      width: 100%;

      background-color: #F1C953;
    }
  
}








@media screen and (min-width: 700px) and (max-width: 768px) {

  .article {
    gap: 15px;

    /* padding: 0px 120px; */
    /* ACHTUNG ACHTUNG ACHTUNG ACHTUNG ACHTUNG DAS PADDING OBNEN DRÜBER HABE ICH GERADE GEMACHT ABER ES MUSS AUCH AUF OBERE SECTION ÜBERTRAGEN WERDEN */
  }

  .article-content {
    padding: 0px 0px;

    margin-top: 15px;
  }

  .subtitle {
    padding: 0px 120px;
  }

  h1 {
    padding: 0px 120px;
  }

  .description {
    padding: 0px 120px;
  }

  .article-info {
    padding: 0px 120px;
  }



  .card-section {
    padding: 0px 120px;
  }





  .upper-big-text-blog {
    padding-top: 100px;
  }

  
  


  .page-big-text-blog p {
    padding: 32px 120px;
  }





  .rain-days-blog {
    padding: 0px 120px;
    display: flex;
    justify-content: center;
}



.activities-expences-blog {
  padding: 0px;
}




  .content-blog {
    display: flex;
    justify-content: space-between;
    
    
    width: 1440px;



    padding: 0px 120px;
}

.content-activities {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    width: 100%;
    
    gap: 20px;

    
}


.content-expences {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    width: 100%;

    gap: 20px;

    
}


  .activities-picture img {
    max-width: 100%;
    height: auto;
  }

  

  .expences-picture img {
    max-width: 100%;
    height: auto;
  }

  



}




@media screen and (min-width: 650px) and (max-width: 699.99px) {

  .article {
    gap: 15px;

    /* padding: 0px 120px; */
    /* ACHTUNG ACHTUNG ACHTUNG ACHTUNG ACHTUNG DAS PADDING OBNEN DRÜBER HABE ICH GERADE GEMACHT ABER ES MUSS AUCH AUF OBERE SECTION ÜBERTRAGEN WERDEN */
  }

  .article-content {
    padding: 0px 0px;

    margin-top: 15px;
  }

  .subtitle {
    padding: 0px 100px;
  }

  h1 {
    padding: 0px 100px;
  }

  .description {
    padding: 0px 100px;
  }

  .article-info {
    padding: 0px 100px;
  }



  .card-section {
    padding: 0px 100px;
  }





  .upper-big-text-blog {
    padding-top: 100px;
  }

  
  

  .page-big-text-blog p {
    padding: 32px 100px;
  }





  .rain-days-blog {
    padding: 0px 100px;
    display: flex;
    justify-content: center;
}



.activities-expences-blog {
  padding: 0px;
}




  .content-blog {
    display: flex;
    justify-content: space-between;
    
    
    width: 1440px;



    padding: 0px 100px;
}

.content-activities {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    width: 100%;
    
    gap: 20px;

    
}


.content-expences {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    width: 100%;

    gap: 20px;

    
}


  .activities-picture img {
    max-width: 100%;
    height: auto;
  }

  

  .expences-picture img {
    max-width: 100%;
    height: auto;
  }
  
}




/* PADDING OF UPPER-TEXT-BLOG */

@media screen and (min-width: 603px) and (max-width: 649.99px) {

  .upper-big-text-blog {
    padding-top: 80px;
  }
  
}

@media screen and (min-width: 554px) and (max-width: 602px) {

  .upper-big-text-blog {
    padding-top: 100px;
  }
  
}


/* PADDING OF THE REST */

@media screen and (min-width: 554px) and (max-width: 649.99px) {

  .article {
    gap: 15px;

    /* padding: 0px 120px; */
    /* ACHTUNG ACHTUNG ACHTUNG ACHTUNG ACHTUNG DAS PADDING OBNEN DRÜBER HABE ICH GERADE GEMACHT ABER ES MUSS AUCH AUF OBERE SECTION ÜBERTRAGEN WERDEN */
  }

  .article-content {
    padding: 0px 0px;

    margin-top: 15px;
  }

  .subtitle {
    padding: 0px 60px;
  }

  h1 {
    padding: 0px 60px;
  }

  .description {
    padding: 0px 60px;
  }

  .article-info {
    padding: 0px 60px;
  }



  .card-section {
    padding: 0px 60px;
  }





  /* .upper-big-text-blog {
    padding-top: 80px;
  } */

  
  

  .page-big-text-blog p {
    padding: 32px 60px;
  }





  .rain-days-blog {
    padding: 0px 60px;
    display: flex;
    justify-content: center;
}



.activities-expences-blog {
  padding: 0px;
}




  .content-blog {
    display: flex;
    justify-content: space-between;
    
    
    width: 1440px;



    padding: 0px 60px;
}

.content-activities {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    width: 100%;
    
    gap: 20px;

    
}


.content-expences {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    width: 100%;

    gap: 20px;

    
}


  .activities-picture img {
    max-width: 100%;
    height: auto;
  }

  

  .expences-picture img {
    max-width: 100%;
    height: auto;
  }
  
}






/* PADDING OF UPPER-TEXT-BLOG */

@media screen and (min-width: 525px) and (max-Width: 553.99px) {

  .upper-big-text-blog {
    padding-top: 100px;
  }
  
}


@media screen and (min-width: 500px) and (max-width: 524px) {

  .upper-big-text-blog {
    padding-top: 120px;
  }
  
}



/* PADDING OF THE REST */

@media screen and (min-width: 500px) and (max-width: 553.99px) {

  .article {
    gap: 15px;

    /* padding: 0px 120px; */
    /* ACHTUNG ACHTUNG ACHTUNG ACHTUNG ACHTUNG DAS PADDING OBNEN DRÜBER HABE ICH GERADE GEMACHT ABER ES MUSS AUCH AUF OBERE SECTION ÜBERTRAGEN WERDEN */
  }

  .article-content {
    padding: 0px 0px;

    margin-top: 15px;
  }

  .subtitle {
    padding: 0px 30px;
  }

  h1 {
    padding: 0px 30px;
  }

  .description {
    padding: 0px 30px;
  }

  .article-info {
    padding: 0px 30px;
  }



  .card-section {
    padding: 0px 30px;
  }





  /* .upper-big-text-blog {
    padding-top: 80px;
  } */

  
  

  .page-big-text-blog p {
    padding: 32px 30px;
  }





  .rain-days-blog {
    padding: 0px 30px;
    display: flex;
    justify-content: center;
}



.activities-expences-blog {
  padding: 0px;
}




  .content-blog {
    display: flex;
    justify-content: space-between;
    
    
    width: 1440px;



    padding: 0px 30px;
}

.content-activities {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    width: 100%;
    
    gap: 20px;

    
}


.content-expences {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    width: 100%;

    gap: 20px;

    
}


  .activities-picture img {
    max-width: 100%;
    height: auto;
  }

  

  .expences-picture img {
    max-width: 100%;
    height: auto;
  }
  
}









/* PADDING OF UPPER-TEXT-BLOG */

@media screen and (min-width: 452px) and (max-width: 499.99px) {

  .upper-big-text-blog {
    padding-top: 120px;
  }
  
}



/* PADDING OF THE REST */

@media screen and (min-width: 2px) and (max-width: 499.99px) {

  .article {
    gap: 15px;

    /* padding: 0px 120px; */
    /* ACHTUNG ACHTUNG ACHTUNG ACHTUNG ACHTUNG DAS PADDING OBNEN DRÜBER HABE ICH GERADE GEMACHT ABER ES MUSS AUCH AUF OBERE SECTION ÜBERTRAGEN WERDEN */
  }

  .article-content {
    padding: 0px 0px;

    margin-top: 15px;
  }

  .subtitle {
    padding: 0px 15px;
  }

  h1 {
    padding: 0px 15px;
  }

  .description {
    padding: 0px 15px;
  }

  .article-info {
    padding: 0px 15px;
  }



  .card-section {
    padding: 0px 15px;
  }





  /* .upper-big-text-blog {
    padding-top: 80px;
  } */

  
  

  .page-big-text-blog p {
    padding: 32px 15px;
  }





  .rain-days-blog {
    padding: 0px 15px;
    display: flex;
    justify-content: center;
}



.activities-expences-blog {
  padding: 0px;
}




  .content-blog {
    display: flex;
    justify-content: space-between;
    
    
    width: 1440px;



    padding: 0px 15px;
}

.content-activities {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    width: 100%;
    
    gap: 20px;

    
}


.content-expences {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    width: 100%;

    gap: 20px;

    
}


  .activities-picture img {
    max-width: 100%;
    height: auto;
  }

  

  .expences-picture img {
    max-width: 100%;
    height: auto;
  }
  
}



























/* SCHRIFTGRÖßE */

@media screen and (min-width: 480px) and (max-width: 768px) {

  .article-content {
    margin-top: 60px;
  }

  .subtitle {
  /* margin: 0 0 4px; */

  font-size: 20px;  
}

h1 {
  /* margin: 0; */

  font-size: 40px;
}

.description {
  /* max-width: 100%;
  margin-bottom: 18px; */

  font-size: 18px;
}

/* Informationen unter dem Text */



/* Autorenkarte */



.author-card h2 {
  /* margin: 0; */

  font-size: 16px;
}

.author-role {
  /* margin: 2px 0 15px; */

  font-size: 16px;
}

.author-text {
  /* margin: 0; */

  font-size: 16px;
}










/* HERE NEW AREA  */



.page-big-text-blog p {
  font-size: 16px;
}



h3 {
  font-size: 18px;
}


.activities-text p {
  font-size: 16px;
}



.expences-text p {
  font-size: 16px;
}








.follow-text {
  font-size: 16px;
}


.share-button p {
  font-size: 18px;
}


  
}



/* FONT-SIZE */

@media screen and (min-width: 300px) and (max-width: 479.99px) {

  .article-content {
    margin-top: 60px;
  }

  .subtitle {
  /* margin: 0 0 4px; */

  font-size: 20px;  
}

h1 {
  /* margin: 0; */

  font-size: 35px;
}

.description {
  /* max-width: 100%;
  margin-bottom: 18px; */

  font-size: 16.5px;
}

/* Informationen unter dem Text */



/* Autorenkarte */



.author-card h2 {
  /* margin: 0; */

  font-size: 16px;
}

.author-role {
  /* margin: 2px 0 15px; */

  font-size: 16px;
}

.author-text {
  /* margin: 0; */

  font-size: 16px;
}









.page-big-text-blog p {
  font-size: 12px;
}



h3 {
  font-size: 16px;
}


.activities-text p {
  font-size: 12px;
}



.expences-text p {
  font-size: 12px;
}








.follow-text {
  font-size: 13px;
}


.share-button p {
  font-size: 14px;
}
  
}


/* MARGIN-TOP ARTICLE */

@media screen and (min-width: 412px) and (max-width: 451.99px) {

  .article {
    margin: 108px auto 22px;
  }
  
}



/* PADDING OF UPPER-TEXT-BLOG */

@media screen and (min-width: 412px) and (max-width: 451.99px) {

  .upper-big-text-blog {
    padding-top: 140px;
  }
  
}






/* MARGIN-TOP ARTICLE */

@media screen and (min-width: 354px) and (max-width: 411.99px) {

  .article {
    margin: 128px auto 22px;
  }
  
}


/* PADDING OF UPPER-TEXT-BLOG */

@media screen and (min-width: 354px) and (max-width: 411.99px) {

  .upper-big-text-blog {
    padding-top: 160px;
  }
  
}






/* MARGIN-TOP ARTICLE */

@media screen and (min-width: 302px) and (max-width: 353.99px) {

  .article {
    margin: 148px auto 22px;
  }
  
}


/* PADDING OF UPPER-TEXT-BLOG */

@media screen and (min-width: 303px) and (max-width: 353.99px) {

  .upper-big-text-blog {
    padding-top: 180px;
  }
  
}








































@media screen and (min-width: 1440px) {
  
}




