/* HERE STARTS THE PART OF THE HEADER */

header {
  width: 100%;
  height: 128px;
  background-color: #4ea487;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  padding: 0px 235px;
}

header > img {
  height: 72px;
}

/* Hover Effekte Header */

.highlight {
  position: relative;
  display: inline-block;

  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.navi-bar-navi-points li {
    position: relative;
}

.image-header {
    position: absolute;
    left: 2.5px;
    bottom: 2px;

    width: 100%;
    height: auto;

    opacity: 0;
}

.navi-bar-navi-points li:hover .image-header {
    opacity: 1;
}

/* HERE STARTS THE PART OF THE FOOTER */

footer {
  width: 100%;
  height: 128px;
  background-color: #4ea487;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 235px;
}

.additionals {
  display: flex;
  /* gap: 4px; */
}

.footer-additionals-navi-bar {
  display: flex;
}

.footer-additionals-navi-bar-navi-points {
  display: flex;
  align-items: center;
  gap: 50px;
}

.footer-additionals-navi-bar {
  display: flex;
}

.footer-additionals-navi-bar-navi-points {
  display: flex;
  align-items: center;
  gap: 72px;
}

.footer-additionals-navi-bar ul {
  list-style-type: none;
}

.footer-additionals-navi-bar-navi-points a {
  text-decoration: none;
  color: #ffffff;
}

.social-media-navi-bar {
  display: flex;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 16px;
}

footer ul {
  list-style-type: none;
}

.social-media-navi-bar ul {
  list-style-type: none;
}

/* End: Footer */

@media screen and (min-width: 1440px) {
  header {
    padding: 16px max(120px, calc(50% - 720px));
  }
  footer {
    padding: 60px max(120px, calc(50% - 720px));
  }
 
}

@media screen and (max-width: 768px) {
  header {
    padding: 0px 20px;
  }


  footer {
    padding: 0px 20px;
  }

  
}



.navi-bar {
  display: flex;
}

.navi-bar-navi-points {
  display: flex;
  align-items: center;
  gap: 72px;
}

.navi-bar ul {
  list-style-type: none;
}

.navi-bar-navi-points a {
  text-decoration: none;
  color: #f8f5eb;
}

/* HERE STARTS THE PART OF THE FAQ */

.faq-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
}

.faq-heading h2 {
  font-family: "Arima", serif;
  font-size: 52px;
  color: rgba(78, 164, 135, 1);
}

.faq-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}
details {
  background-color: #f1c953;
  border-radius: 12px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  height: 60px;
  width: 1440px;
}

details[open] {
  background-color: #f1c953;
  border-radius: 12px;
  margin-bottom: 20px;
  padding: 0 15px;
  height: 150px;
}

summary {
  padding: 18px 0;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  padding-left: 15px;
}

details p {
  background-color: white;
  padding: 8px;
  margin: 0 0 15px;
  border-radius: 5px;
}




.landing-section-area {
  position: relative;
  width: 1440px;
  height: 550px;

  margin: 0 auto;
}

.background {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  z-index: 1;
}

.yellow-image {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

.circle-one {
  position: absolute;
  bottom: 20%;
  left: 30%;
  z-index: 4;
}

.circle-two {
  position: absolute;
  bottom: 30%;
  left: 33.8%;
  z-index: 4;
}

.animation {
  position: absolute;
  bottom: 22.5%;
  left: 30.8%;

  animation: rotateText 8s ease-in-out infinite;
  z-index: 5;
}

@keyframes rotateText {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.landing-section-area > h1 {
  font-family: "Arima", serif;
  color: rgba(84, 55, 13, 1);
  font-size: 60px;
  font-weight: bold;
  position: relative;
  top: 20%;
  left: 8%;
  z-index: 4;
}

.landing-section-area > p {
  font-family: "Palanquin", serif;
  color: rgba(84, 55, 13, 1);
  font-size: 28px;
  font-weight: 500;
  position: relative;
  top: 21%;
  left: 8%;
  z-index: 4;
  line-height: 1.2;
}

/* Here starts the Contact From styling */

.contact-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  width: 1440px;
  margin: 80px auto;
  padding: 0 0 30px;

  font-family: "Palanquin", sans-serif;
  color: rgba(84, 55, 13, 1);
}

.contact h2 {
  font-family: "Arima", serif;
  font-size: 52px;
  color: rgba(78, 164, 135, 1);
}

.intro {
  text-align: center;
  line-height: 1.3;
  margin-bottom: 45px;
  font-size: 24px;
}

.form-container {
  padding: 0 0;
}

.input-row {
  display: flex;
  gap: 34px;
}

.input-group {
  flex: 1;
}

.input-group label {
  display: block;
  margin-bottom: 45px;
  font-size: 24px;
}

.input-group input,
.input-group textarea {
  width: 100%;
  box-sizing: border-box;

  border: none;
  border-bottom: 1px solid rgba(84, 55, 13, 1);

  background: transparent;
  outline: none;

  font-size: 24px;
  color: rgba(84, 55, 13, 1);
}

.input-group input {
  height: 1px;
}

.message {
  margin-top: 20px;
}

.message label {
  margin-bottom: 50px;
}

.message textarea {
  height: 25px;
  resize: none;
}

.privacy {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 8px;
  margin-top: 14px;

  font-size: 16px;
}

.privacy input {
  width: 14px;
  height: 14px;
}

.privacy label {
  margin: 0;
}

.privacy a {
  color: rgba(78, 164, 135, 1);
  text-decoration: none;
  margin: 0 5px;
}

button {
  display: block;
  margin: 42px auto 0;

  padding: 5px 30px;

  border: 1px solid rgba(115, 115, 115, 1);

  border-radius: 20px;

  background: white;

  font-family: "Arima", serif;
  font-size: 24px;
  font-weight: bold;
  color: rgba(115, 115, 115, 1);
  cursor: pointer;
}

.contact-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
}

/* Styling Side 2 */

.article {
  width: 100%;
  max-width: 1440px;
  height: 400px;

  margin: 45px auto;

  padding: 0 120px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Palanquin", serif;
  font-weight: 400;
}

/* Linker Bereich */

.article-content {
  flex: 1;
  max-width: 1270px;
}

.subtitle {
  margin: 0 0 4px;

  color: rgba(78, 164, 135, 1);

  font-size: 40px;
  font-weight: 600;
}

h1 {
  margin: 0;

  color: #f1c953;

  font-family: "Arima", serif;
  font-size: 64px;
  line-height: 1.25;
  font-weight: 700;
}

.description {
  max-width: 100%;

  margin-bottom: 18px;

  color: #63491f;

  font-size: 32px;
  line-height: 1.3;
}

/* Informationen unter dem Text */

.article-info {
  display: flex;
  align-items: center;
  gap: 28px;
  flex-direction: row;

  font-size: 11px;
}

.article-info span {
  white-space: nowrap;
  display: flex;
  gap: 3px;
  align-items: center;
}

.article-info p {
  color: rgba(84, 55, 13, 1);
  font-family: "Palanquin", serif;
}

/* Autorenkarte */

.author-card {
  width: 270px;
  height: 400px;

  padding: 10px 12px 14px;

  background-color: rgba(78, 164, 135, 0.2);

  border-radius: 18px;

  text-align: center;
}

.author-image {
  width: 100px;
  height: 100px;

  object-fit: cover;

  border-radius: 50%;

  margin-bottom: 5px;
}

.author-card h2 {
  margin: 0;

  color: rgba(84, 55, 13, 1);

  font-family: "Arima", serif;
  font-size: 18px;
}

.author-role {
  margin: 2px 0 15px;

  color: rgba(84, 55, 13, 1);

  font-size: 18px;
  font-family: "Arima", serif;
  font-weight: 400;
}

.author-text {
  margin: 0;

  color: rgba(84, 55, 13, 1);

  font-size: 16px;
  line-height: 1.25;

  text-align: left;
}

/* Slider Styling */

.slider-a {
  position: relative;

  width: 1200px;
  height: 533px;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  overflow: hidden;
}

.slider-a input {
  z-index: 2;
  width: 20px;
  height: 20px;

  background-color: white;

  appearance: none;
  /* -webkit-appearance: none; */

  width: 20px;
  height: 20px;

  margin: 3px 5px 20px;

  border: 2px solid white;
  border-radius: 50%;
  accent-color: white;

  /* box-shadow: none; */
  /* outline: none; */

  cursor: pointer;
}

.slider-a-wrapper {
  z-index: 1;
  position: absolute;
  display: flex;

  width: 400%;
  height: 100%;

  transition: all 250ms ease-in-out;
}

.slider-a-element {
  position: relative;
  width: calc(100% / 4);
  height: 100%;
}

.slider-a input[value="one"]:checked ~ .slider-a-wrapper {
  transform: translateX(37.5%);
}

.slider-a input[value="two"]:checked ~ .slider-a-wrapper {
  transform: translateX(12.5%);
}

.slider-a input[value="three"]:checked ~ .slider-a-wrapper {
  transform: translateX(-12.5%);
}

.slider-a input[value="four"]:checked ~ .slider-a-wrapper {
  transform: translateX(-37.5%);
}

.slider-a input:checked {
  width: 40px;
  height: 25px;
  border-radius: 15px;
  background-color: #f1c953;

  border: 5px solid #f1c953;
}

.container-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  padding: 70px 0;
}

.highlights-headline {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-bottom: 20px;
  font-weight: 700;
  align-items: center;
}
.highlights-headline h2 {
  font-size: 52px;
  font-weight: 700;
}

.highlights-headline img {
  height: 40px;
  width: 40px;
}

.highlights > p {
  font-size: 24px;
  font-family: "Palanquin";
  color: #63491f;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.slider-text {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  z-index: 4;
  position: absolute;
  top: 60px;
  left: 60px;
  padding: 20px;
}

.slider-a-element h2 {
  font-size: 48px;
  color: white;
  line-height: 1.1;
}

.slider-a-element p {
  line-height: 1.1;
  font-size: 28px;
  color: white;
}




/* Animation beim Öffnen der Website */
