* {
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h2 {
    font-family: 'Arima';
    color: #4EA487;
}

p {
    font-family: 'Palanquin';
}

.navi-bar-navi-points a {
    font-family: 'Arima';
}

/* .footer-additionals-navi-bar-navi-points a {
    font-family: 'Palanquin';
} */